@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


::selection{
    background-color: rgba(0, 0, 0, 0.733);
    color: white;
}
body {
    font-family: "Outfit", sans-serif;

}
 span {
    text-decoration: none;
 }